# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=@prince
DB_NAME=food_modern

# Flask Configuration
SECRET_KEY=super_secret_key_swifty

# Email Configuration (Flask-Mail)
# Use your production email SMTP settings here
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com

# Stripe Keys
STRIPE_PUBLIC_KEY=pk_test_your_test_key_here
STRIPE_SECRET_KEY=sk_test_your_secret_key_here

# Twilio SMS API Keys
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_outbound_number
